!                                          .x+=:.
!                                         z`    ^%
!     uL   ..      .u    .                   .   <k
!   .@88b  @88R  .d88B :@8c       .u       .@8Ned8"
!  '"Y888k/"*P  ="8888f8888r   ud8888.   .@^%8888"
!     Y888L       4888>'88"  :888'8888. x88:  `)8b.
!      8888       4888> '    d888 '88%" 8888N=*8888
!      `888N      4888>      8888.+"     %8"    R88
!   .u./"888&    .d888L .+   8888L        @8Wou 9%
!  d888" Y888*"  ^"8888*"    '8888c. .+ .888888P`
!  ` "Y   Y"        "Y"       "88888%   `   ^"F
!                               "YP'                                                                          │
!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:					96
Xft.antialias:					true
Xft.rgba:					rgb
Xft.hinting:					true
Xft.hintstyle:					hintfull
Xft.lcdfilter:					lcddefault

Xcursor.theme:    OSX-ElCap
Xcursor.size:    16
Xcursor.theme_core:    1

URxvt*depth:                32
URxvt*geometry:             90x30
URxvt*background:			#030508
URxvt*loginShell:           true
URxvt*saveLines:            1000
URxvt*internalBorder:       3
URxvt*lineSpace:            0

! Fonts
URxvt*font:xft:scientifica:size=8
URxvt*boldFont:xft:scientifica:bold:size=8
URxvt*allow_bold:           true

! Fix font space
URxvt*letterSpace: 1

! Scrollbar
URxvt*scrollStyle:          rxvt
URxvt*scrollBar:            false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! Perl extensions
URxvt*perl-lib:         /usr/lib/urxvt/perl/
URxvt.perl-ext-common:	default,matcher,clipboard,keyboard-select

! Clickable URLs
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
URxvt.underlineURLs:  True
URxvt.colorUL:	#86a2be

! Use Control-Shift-V/C for X clipboard
URxvt.iso14755: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Cursor
! URxvt.cursorBlink:          true
! URxvt.cursorColor:          #657b83
! URxvt.cursorUnderline:      false

! Pointer
URxvt*pointerBlank:         true


! TABS COLOURS
! URxvt.color0  : #979797
! URxvt.color1  : #000000


!! st (suckless terminal) settings ----------------

!! Transparency (0-1):

st.alpha: 0.92
st.alphaOffset: 0.3

!! Set a default font and font size for st below:

!! *.font: JetBrainsMono NF-10;
*.font: JetBrainsMono NF:pixelsize=14:antialias=true:autohint=true;

!! colorscheme ----
! TokyoNight colors for Xresources

!! *.background: #1a1b26
!! *.foreground: #c0caf5
!!
!! *.color0: #15161e
!! *.color1: #f7768e
!! *.color2: #9ece6a
!! *.color3: #e0af68
!! *.color4: #7aa2f7
!! *.color5: #bb9af7
!! *.color6: #7dcfff
!! *.color7: #a9b1d6
!! *.color9: #414868
!! *.color9: #f7768e
!! *.color10: #9ece6a
!! *.color11: #e0af68
!! *.color12: #7aa2f7
!! *.color13: #bb9af7
!! *.color14: #7dcfff
!! *.color15: #c0caf5

! TokyoNight Storm colors for Xresources

*.background: #24283b
*.foreground: #c0caf5

*.color0: #1d202f
*.color1: #f7768e
*.color2: #9ece6a
*.color3: #e0af68
*.color4: #7aa2f7
*.color5: #bb9af7
*.color6: #7dcfff
*.color7: #a9b1d6
*.color8: #414868
*.color9: #f7768e
*.color10: #9ece6a
*.color11: #e0af68
*.color12: #7aa2f7
*.color13: #bb9af7
*.color14: #7dcfff
*.color15: #c0caf5


!! end st settings -----------------
!

!#include "/home/rx/.config/colors/nord"

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! rofi.color-enabled:				true
! rofi.separator-style:				solid
!rofi.hide-scrollbar:				true
!rofi.color-normal:				argb:BF383c4a, #c4cbd4, argb:BF404552, #4084d6, #d1d4e0
!rofi.color-urgent:				argb:BF2d303b, #cc6666, argb:BF2d303b, #a54242, #d1d4e0
!rofi.color-active:				argb:BF2d303b, #b5bd68, argb:BF2d303b, #8c9440, #d1d4e0
!rofi.color-window:				argb:BF2d303b, #7c8389, #1d1f21

! rofi.color-window: argb:BF1f222d, #1f222d, #000000
! rofi.color-normal: argb:BF1f222d, #a6d1fa, argb:BF383c4a, #7780a1, #d1d4e0
! rofi.color-active: argb:BF1f222d, #268bd2, argb:BF383c4a, #268bd2, #d1d4e0
! rofi.color-urgent: argb:BF1f222d, #dc322f, argb:BF383c4a, #dc322f, #d1d4e0





!Start of OxerDark theme
! ------------------------------------------------------------------------------

xscreensaver.splash: false

!font settings
xscreensaver.Dialog.headingFont:        -*-terminus-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-terminus-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-terminus-bold-r-*-*-12-*-*-*-*-*-*-*

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #161616
xscreensaver.Dialog.topShadowColor:     #161616
xscreensaver.Dialog.bottomShadowColor:  #161616
xscreensaver.Dialog.Button.foreground:  #ffffff
xscreensaver.Dialog.Button.background:  #000000

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #999999
xscreensaver.Dialog.text.background:    #000000
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    2

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8

! ------------------------------------------------------------------------------
!End of OverDark theme
