@define-color background rgb(30, 30, 46);
@define-color foreground #cdd6f4;
@define-color mantle #181825;
@define-color blue #1e66f5;
@define-color green #a6da95;
@define-color peach #fe640b;
@define-color rosewater #dc8a78;
@define-color lavender #7287fd;
@define-color yellow #df8e1d;
@define-color red #d20f39;
@define-color maroon #e64553;
@define-color teal #179299;
@define-color sky #04a5e5;
@define-color sapphire #209fb5;
@define-color mauve #8839ef;
@define-color pink #ea76cb;
